.App {
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1{
    font-size: 1.4em;
  }
  h2{
    font-size: 1.1em;
  }
  h4{
    font-size: 0.8em;
  }
  span{
    font-size: 0.9em !important;
  }
  .carouselText{
    word-wrap: break-word;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    margin: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1{
    font-size: 1.5em;
  }
  h2{
    font-size: 1.2em;
  }
  h4{
    font-size: 0.9em;
  }

  span{
    font-size: 0.9em !important;
  }
  .carouselText{
    word-wrap: break-word;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    margin: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1{
    font-size: 1.8em;
  }
  h2{
    font-size: 1.5em;
  }
  h4{
    font-size: 1em;
  }

  span{
    font-size: 1em !important;
  }
  .carouselText{
    word-wrap: break-word;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 30px;
    margin: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1{
    font-size: 2em;
  }

  h2{
    font-size: 1.7em;
  }

  h4{
    font-size: 1em;
  }

  span{
    font-size: 1.2em !important;
  }
  .carouselText{
    word-wrap: break-word;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    margin: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1{
    font-size: 2em;
  }

  h4{
    font-size: 1em;
  }

  span{
    font-size: 1.2em !important;
  }
  .carouselText{
    word-wrap: break-word;
    text-align: center;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 30px;
    margin: auto;
  }
}

.appbarGap{
  width: 85vw;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.responsiveDiv{
  width: 80vw;
  margin: auto;
  min-height: 60vh;
}

.carouselItem{
  margin: auto;
  word-wrap: break-word;
  min-height: 60vh;
  text-align: center;
  justify-content: center;
}

.textWhite {
  color: white !important;
}

html, body {
  height: 100%;
  margin: 0;
}

.appBody {
  background-color: rgb(246, 234, 220);
  height: 100vh;
  margin: 0;
}

.outer {
  background-color: rgb(246, 234, 220);
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  /* Whatever width you want */
}

.column {
  float: left;
  width: 50%;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.socialLinkButton {
  margin: auto;
}

.avatar {
  width: 260px;
  height: 180px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.vertical-center {
  vertical-align: middle;
}

.textAlignCenter{
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.whiteText{
  color: white;
}

.photo{
  width: 160px;
  height: 150px;
}

.portfolioIcon{
  height: 8em;
  width: 9em;
}

.smallIcon{
  height: 2em;
  transform: translateY(1vh);
}

element {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

element::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
